body,ul,li,a,p,div {
    padding: 0;
    margin: 0;
    border: 0;
}

h3 {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #0f0f0f;
}
ul {
    list-style: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #0f0f0f;
}
.navbar {
    min-height: 40px;
}

.nav-pills {
    display: flex;
}
.nav-pills li {
    text-align: center;
    flex-grow: 1;
}
#nav_ a {
    color: #212121;
}
#nav_ .selected {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5db1+0,ef017c+100;Pink+3D+%231 */
    background: #ff5db1; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff5db1 0%, #ef017c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff5db1 0%,#ef017c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff5db1 0%,#ef017c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
}
.glyphicon {
    top: 2px;
}
#bgImg {
    position: absolute;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.techSup {
    width: 100%;
    position: absolute;
    bottom: 50px;
    font-family: "Microsoft YaHei";
    letter-spacing: .05em;
    font-size: .9em;
    text-align: center;
    padding: 25px 0 10px 0;
}